<html>

<head>
  <title>Registrar ventas</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  //TODO por el momento no hace nada pero tal vez haga despues jquery ui css
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" /> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"> -->
  <%- include("layouts/global") %>
  <link rel="stylesheet" href="/bootstrap-5.2.3.css">
  <link rel="stylesheet" href="/registrarventas.min.css">

  <!-- <script defer src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
  <script defer src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
  <!-- <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->

  
  <script defer src="/bootstrap-5.2.3.js"></script>
  <script defer src="/dayjs.js"></script>
  <script defer src="/dayjs-plugin-utc.js"></script>
  <script defer src="/jquery-3.6.js"></script>
  <script defer src="/sweetalert-2.11.js"></script>
  <!-- //TODO este descomentarlo despues -->
  <!-- <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <script defer src="/jquery-ui-1.13.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script> -->
  <script>
    let camioneros = [];
    "<% camioneros.forEach(camionero => { %>"
      camioneros.push("<%= camionero %>")
    "<% }) %>"
  </script>
  <script defer src="/tecladoTabla.js"></script>
  <script defer src="/spanFechas.js"></script>
  <script defer src="/colocarDatosTablaTests.js"></script>
  <script defer src="/botonExcel.js"></script>
  <script defer src="/botonPDF.js"></script>
  <script defer src="/registrarventas.js"></script>
  <script defer src="/dropdown.js"></script>
</head>

<body>
  
  <%- include("layouts/navbar") %>
  <main>
    <div class="contenedor">
      <div class="calendario">
        <span class="columnas"><svg id="diaanterior" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
          </svg>
        </span>
        <div class="fecha columnas esconder fechanum"><%=fecha%></div>
        <div class="fecha columnas fechastr"><%=fechastr%></div>
        <span class="columnas">
          <svg id="diasiguiente" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" /></svg>
        </span>
      </div>
      <article>        
        <div class="grupotabs">
          <div class="tabs">
              <% for (let j=0; j < (ventaspordia?.camiones.length ?? 1); j++){ %>
            <div class="tab">
              <input data-tabid="<%=j%>" type="radio" class="tabs__radio" name="tab" id="tab<%=j%>" <% if (j===0) { %>checked<% } %> />
              <label for="tab<%=j%>" class="tabs__label">Camión <%= (j+1) %></label>
            </div>
            <% } %>
            <span class="agregarcamion"><span class="mas">+</span></span> 
          </div>
          <div class="contenedorsuperior">
            <button class="configuraciones" data-bs-toggle="modal" data-bs-target="#configs"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ddd" width="30px" height="30px" viewBox="0 0 93.5 93.5" xml:space="preserve"><g><path d="M93.5,40.899c0-2.453-1.995-4.447-4.448-4.447H81.98c-0.74-2.545-1.756-5.001-3.035-7.331l4.998-5    c0.826-0.827,1.303-1.973,1.303-3.146c0-1.19-0.462-2.306-1.303-3.146L75.67,9.555c-1.613-1.615-4.673-1.618-6.29,0l-5,5    c-2.327-1.28-4.786-2.296-7.332-3.037v-7.07C57.048,1.995,55.053,0,52.602,0H40.899c-2.453,0-4.447,1.995-4.447,4.448v7.071    c-2.546,0.741-5.005,1.757-7.333,3.037l-5-5c-1.68-1.679-4.609-1.679-6.288,0L9.555,17.83c-1.734,1.734-1.734,4.555,0,6.289    l4.999,5c-1.279,2.33-2.295,4.788-3.036,7.333h-7.07C1.995,36.452,0,38.447,0,40.899V52.6c0,2.453,1.995,4.447,4.448,4.447h7.071    c0.74,2.545,1.757,5.003,3.036,7.332l-4.998,4.999c-0.827,0.827-1.303,1.974-1.303,3.146c0,1.189,0.462,2.307,1.302,3.146    l8.274,8.273c1.614,1.615,4.674,1.619,6.29,0l5-5c2.328,1.279,4.786,2.297,7.333,3.037v7.071c0,2.453,1.995,4.448,4.447,4.448    h11.702c2.453,0,4.446-1.995,4.446-4.448V81.98c2.546-0.74,5.005-1.756,7.332-3.037l5,5c1.681,1.68,4.608,1.68,6.288,0    l8.275-8.273c1.734-1.734,1.734-4.555,0-6.289l-4.998-5.001c1.279-2.329,2.295-4.787,3.035-7.332h7.071    c2.453,0,4.448-1.995,4.448-4.446V40.899z M62.947,46.75c0,8.932-7.266,16.197-16.197,16.197c-8.931,0-16.197-7.266-16.197-16.197    c0-8.931,7.266-16.197,16.197-16.197C55.682,30.553,62.947,37.819,62.947,46.75z"/></g></svg> Configuraciones</button>
            <button is="boton-excel" id="exportarexcel"></button>
            <button is="boton-pdf" id="exportarpdf"></button>
            <div class="contenedorrestaurar restaurarsoloestatabla restaurarplantilla">
              <div class="centrar">
                <svg class="svgrestaurar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M32.5 224H24c-13.3 0-24-10.7-24-24V72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L82.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L169 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8H32.5z"/></svg>
                <span>Restaurar orden de la plantilla</span>
              </div>
            </div> 
            <div class="dropdown" id="selector">
              <div class="select">
                <span class="selected">Selecciona una plantilla aquí (opcional)</span>
                <div class="caret"></div>
              </div>
            <ul class="menu">
              <% plantillas.forEach(function(plantilla){ %>
                <li><%= plantilla.nombreplantilla %></li>
                <% }); %>
            </ul></div>
            <script>
              let plantillaDefault = "<%= plantillas[0].nombreplantilla %>";
            </script>
            <input type="button" value="Añadir producto" id="añadirProducto" class=" añadirproductoyviaje" />
            <input type="button" value="Añadir viaje" id="añadirViaje" class="añadirproductoyviaje" />
        </div>
            <div class="contenidotabs">
              <% for (let j=0; j < (ventaspordia?.camiones.length ?? 1); j++){ %>
              <div data-tabid="<%=j%>" class="tabs__content">
                  <div class="contenedor-trabajador">
                    <label class="label-trabajador">Nombre del conductor:</label>
                    <div class="contenedor-input-trabajador">
                      <input type="text" class="form-control trabajador"
                      <% if (ventaspordia) { %> value="<%= ventaspordia.camiones[j].nombretrabajador %>"<% } %>/>
                      <div class="btn-group dropend">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"></button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <% camioneros.forEach(camionero => { %>
                            <li class="dropdown-item"><%= camionero %></li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </div>
                    <%- include("layouts/tablacompleta", {j, ventaspordia, plantillaDefault}) %>
              </div>
              <% } %>
            </div>
            <% if (ventaspordia) { %>
              <% let fechaUltimaModificacion = DateTime.fromJSDate(ventaspordia.fechaultimocambio, { zone: "America/Guatemala" }); %>
              <span class="ultima-modificacion">Fecha de última modificación: <span-fechas><span slot="fecha"><%= fechaUltimaModificacion.toFormat("d/M/y") %></span><span slot="fechaStr"><%= fechaUltimaModificacion.toLocaleString(DateTime.DATE_HUGE)  %></span></span-fechas> <span class="ultima-modificacion-fecha"></span> <%= fechaUltimaModificacion.toFormat("'a las' H:mm 'con' ss 'segundos'") %></span>
            <% } %>
        </div>
      </article>
      <div class="contenedorinferior">
        <input class="btn btn-primary añadirproductoyviaje" type="button" value="Guardar" id="guardar">
        <%# 
        <div class="contenedorrestaurar restaurarsoloestatabla">
          <div class="centrar">
            <svg class="svgrestaurar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M32.5 224H24c-13.3 0-24-10.7-24-24V72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L82.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L169 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8H32.5z"/></svg>
            <span>Deshacer última acción</span>
          </div>
        </div>  
        <div class="contenedorrestaurar restaurarsoloestatabla">
          <div class="centrar">
            <svg class="svgrestaurar svgrotado" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M32.5 224H24c-13.3 0-24-10.7-24-24V72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L82.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L169 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8H32.5z"/></svg>
            <span>Rehacer última acción</span>
          </div>
        </div> 
         %>
        <input class="btn btn-primary añadirproductoyviaje resumen" type="button" value="Ver resumen del día" id="resumen"> 
      </div>
    </main>



  <div class="modal fade" id="configs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Configuraciones</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="grupomodal">Ordenar alfabéticamente</div>
          <hr>
          <article>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="switchreordenalfabetico" checked>
              <label class="form-check-label" for="switchreordenalfabetico">Agregar ícono para ordenar por orden alfabético</label>
            </div>
            <hr>
            <div class="grupomodal">Cambiar orden de</div>
            <hr>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="switchreordenarproductos">
              <label class="form-check-label" for="switchreordenarproductos">Cambiar el orden de los productos de las tablas</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="switchreordenarcamiones">
              <label class="form-check-label" for="switchreordenarcamiones">Cambiar el orden de los camiones</label>
            </div>
          </article>
          <hr>
          <div class="grupomodal">Borrar elementos</div>
          <hr>
          <article>
            <div class="titulosecundarioconfiguraciones">¿Cómo prefiere borrar los camiones?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="borrarcamiones" id="camionespresionar1segundo">
              <label class="form-check-label" for="camionespresionar1segundo">Presionando la pestaña por 1 segundo</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="borrarcamiones" id="camionespresionarx" checked>
              <label class="form-check-label" for="camionespresionarx">Presionando un botón con una X</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="borrarcamiones" id="camionesdesactivar">
              <label class="form-check-label" for="camionesdesactivar">Desactivar</label>
            </div>
          </article>
          <article>
            <div class="titulosecundarioconfiguraciones">¿Cómo prefiere borrar filas y columnas en las tablas?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="borrarfilasycolumnas" id="filasycolumnaspresionar1segundo" >
              <label class="form-check-label" for="filasycolumnaspresionar1segundo">Presionando una celda por 1 segundo</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="borrarfilasycolumnas" id="filasycolumnaspresionarx" checked>
              <label class="form-check-label" for="filasycolumnaspresionarx">Presionando un botón con una X</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="borrarfilasycolumnas" id="filasycolumnasdesactivar">
              <label class="form-check-label" for="filasycolumnasdesactivar">Desactivar</label>
            </div>
          </article>
          <hr>
            <div class="grupomodal">Exportar tablas</div>
          <hr>
          <article>
            <div class="titulosecundarioconfiguraciones">¿Cuál desesa que sea el comportamiento por defecto del botón exportar a PDF?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exportarpdf" id="exportarpdfactual" >
              <label class="form-check-label" for="exportarpdfactual">Exportar solo la tabla actual</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exportarpdf" id="exportarpdftodo" checked>
              <label class="form-check-label" for="exportarpdftodo">Exportar todas las tablas</label>
            </div>
          </article>
          <article>
            <div class="titulosecundarioconfiguraciones">¿Cuál desesa que sea el comportamiento por defecto del botón exportar a Excel?</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exportarexcel" id="exportarexcelactual" >
              <label class="form-check-label" for="exportarexcelactual">Exportar solo la tabla actual</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exportarexcel" id="exportarexceltodo" checked>
              <label class="form-check-label" for="exportarexceltodo">Exportar todas las tablas</label>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-config guardarconfig" data-bs-dismiss="modal">Guardar cambios</button>
          <button type="button" class="btn btn-danger btn-config cerrarconfig" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>